bitcoin               ICON    "pixmaps/bitcoin.ico"

#include "wx/msw/wx.rc"

check                 ICON    "pixmaps/check.ico"
skullnodes16                BITMAP  "pixmaps/skullnodes16.bmp"
skullnodes16mask            BITMAP  "pixmaps/skullnodes16mask.bmp"
skullnodes16masknoshadow    BITMAP  "pixmaps/skullnodes16masknoshadow.bmp"
skullnodes20                BITMAP  "pixmaps/skullnodes20.bmp"
skullnodes20mask            BITMAP  "pixmaps/skullnodes20mask.bmp"
addressbook16         BITMAP  "pixmaps/addressbook16.bmp"
addressbook16mask     BITMAP  "pixmaps/addressbook16mask.bmp"
addressbook20         BITMAP  "pixmaps/addressbook20.bmp"
addressbook20mask     BITMAP  "pixmaps/addressbook20mask.bmp"
favicon               ICON    "pixmaps/favicon.ico"
